################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/YurisTools/v17
/.vs
/lib/Rut/Debug
/lib/Rut/Release
/lib/YurisStaticLibrary/Debug
/lib/YurisStaticLibrary/Release
/src/Replace_RangTable/Debug
/src/Replace_RangTable/Release
/src/YPF_Decode_WZ/Debug
/src/YPF_Decode_WZ/Release
/src/YSCFG_Editor/Debug
/src/YSCFG_Editor/Release
/src/YSCM_Parse/Debug
/src/YSCM_Parse/Release
/src/YSCOM_Loader/Debug
/src/YSCOM_Loader/Release
/src/YSTB_GuessXorKey/Debug
/src/YSTB_GuessXorKey/Release
/src/YSTB_Parse/Debug
/src/YSTB_Parse/Release
/src/YSTB_TextEditor_V2/Debug
/src/YSTB_TextEditor_V2/Release
/src/YSTB_TextEditor_V5/Debug
/src/YSTB_TextEditor_V5/Release
/src/YSTB_Xor/Debug
/src/YSTB_Xor/Release
/src/YSTL_Parse/Debug
/src/YSTL_Parse/Release
